GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GOOGLE_REDIRECT_URI="http://127.0.0.1:8000/auth/google/callback"

FIREBASE_WEB_API_KEY="YOUR_FIREBASE_WEB_API_KEY"

FRONTEND_URL="http://127.0.0.1:5500/frontend/index.html"
COOKIE_SECURE=False

FIREBASE_SERVICE_ACCOUNT_PATH="backend/app/core/serviceAccountKey.json"